#art{
   display:table; 
   border-spacing:1px;
   background-color:black;
   border:5px  solid  black ;
   
}
.row{
   display: table-row;
}
.pixel{
   height:50px;
width: 50px;
display: table-cell;
background-color:white;
}
.pen{
   display: inline-block;
   height:50px ;
   width:50px;
   border:5px solid black;

}
#red{
   background-color: red;
}